/* ID */

body{
	margin-top:10px;
}

.poup{
	border:1px solid #0088cc;
	border-radius:10px 10px 10px 10px;
	padding:20px;
	margin-bottom:5px;
}
.img-maglia{
	max-height:300px;
}
.maglia{
	height:600px;
}